<html xmlns:th="https://www.thymeleaf.org">

<head>

    <title>Festivals of India</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fest.css">
    <link type="text/css" rel="stylesheet" href="/css/main/userNavStyle.css" />

    <!-- <link type="text/css" rel="stylesheet" href="/css/main/owl.carousel.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/main/owl.theme.default.min.css" /> -->
</head>

<body>
    <header>
        <div th:insert="~{includes/userNav::userNav}"></div>
        <h1 th:text="'Festivals of '+${state}"></h1>
        <p>"Every Festival is a Story, Every Celebration a Memory - Discover India's Vibrancy"</p>
    </header>

    <section class="container my-5">
        <h2>Popular Festivals</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col" th:each="festival : ${festivals}">
                <div class="card">
                    <img th:src="${festival.imageList[0]}" alt="Diwali">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${festival.festivalName}"></h5>
                        <h6 class="card-title" th:text="'More Celebrated By State '+${festival.stateId.name}"></h6>
                        <p class="card-text" th:text="${festival.celebrationType}"></p>

                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" th:id="'festivalRitual'+${festival.id}"
                                data-bs-toggle="modal" data-bs-target="#festivalModal"
                                th:onclick="'showDetails('+this.id+')'" th:value="${festival.rituals}">Rituals</button>
                            <button class="btn btn-secondary" th:id="'festivalCulture'+${festival.id}"
                                data-bs-toggle="modal" data-bs-target="#festivalModal"
                                th:onclick="'showDetails('+this.id+')'"
                                th:value="${festival.culturalImportance}">Cultural Significance</button>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <!-- <button class="btn btn-success" th:id="'festival'+${festival.id}" data-bs-toggle="modal" data-bs-target="#festivalModal" th:onclick="'showDetails('+${festival.imageList}+')'">States Celebrated</button> -->
                            <button class="btn btn-info" th:id="'festivalDate'+${festival.id}" data-bs-toggle="modal"
                                data-bs-target="#festivalModal" th:onclick="'showDetails('+this.id+')'"
                                th:value="${festival.dateTime}">Date</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


    <div class="modal fade" id="festivalModal" tabindex="-1" aria-labelledby="festivalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="festivalModalLabel">Festival Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">

                </div>
            </div>
        </div>
    </div>

    <script src="/js/fest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>