<aside id="sidebar" class="bg-dark text-white p-3" xmlns:th="https//ww.thymeleaf.org" th:fragment="sidebar">
  <h3>Admin Portal</h3>
  <ul class="nav flex-column">
    <li class="nav-item"><a href="/admin/index" class="nav-link text-white">Dashboard</a></li>
    <li class="nav-item"><a href="/admin/state" class="nav-link text-white">States</a></li>
    <li class="nav-item"><a href="/admin/foodcuisine" class="nav-link text-white">Food Cuisine</a></li>
    <li class="nav-item"><a href="/admin/dance" class="nav-link text-white">Dance</a></li>
    <li class="nav-item"><a href="/admin/music" class="nav-link text-white">Musical</a></li>
    <li class="nav-item"><a href="/admin/artifacts" class="nav-link text-white">Artifacts</a></li>
    <li class="nav-item"><a href="/admin/festivals" class="nav-link text-white">Festival Celebration</a></li>
    <li class="nav-item"><a href="/admin/languages" class="nav-link text-white">Languages</a></li>
    <li class="nav-item"><a href="/admin/monuments" class="nav-link text-white">Monuments</a></li>
    <li class="nav-item"><a href="/admin/wildlifes" class="nav-link text-white">WildLife</a></li>
    <li class="nav-item"><a href="/admin/health" class="nav-link text-white">Health</a></li>
  </ul>
</aside>